/*	Resets
	------	*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em,
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption,
menu, footer, header, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    color: dimgrey;
    font-family: "ff-meta-serif-web-pro-1", "ff-meta-serif-web-pro-2", Cambria, Georgia, serif;
}

article, aside, canvas, figure, figure img, figcaption,
footer, header, nav, section, audio, video, input, textarea, button {
    display: block;
    color: dimgrey;
    font-family: "ff-meta-serif-web-pro-1", "ff-meta-serif-web-pro-2", Cambria, Georgia, serif;
}

a img {
    border: 0;
}

/*	Typography presets
	------------------	*/

.large, article h1 {
    font-size: 42px;
    line-height: 48px;
    margin: 0 0 24px;
}

.bigger, article h2 {
    font-size: 26px;
    line-height: 36px;
}

.big, article h3 {
    font-size: 22px;
    line-height: 30px;
}

.small, #code textarea, small {
    font-size: 13px;
    line-height: 18px;
}

a {
    color: #91353a;
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: none;
}

h1, h2, #code label {
    color: #91353a;
    font-weight: normal;
}

/*	Background presets
	------------------	*/

::selection {
    background: rgb(255, 255, 158);
}

::-moz-selection {
    background: rgb(255, 255, 158);
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

body {
    padding: 0;
    position: relative;
    background: rgb(255, 255, 255);
    color: rgb(60, 60, 60);
    -webkit-tap-highlight-color: rgb(255, 255, 158);
}

article {
    margin: 0 auto;
    position: relative;
}

header, footer {
    margin: 20px auto;
    text-align: center;
}

hr {
    border: none;
    border-top: 1px solid rgb(195, 195, 195);
    clear: both;
}

input, img {
    vertical-align: middle;
}

input {
    border: solid 1px #91353a;
    -webkit-tap-highlight-color: #91353a;
    background-color: #fff;
}

button {
    border: solid 1px #ccc;
    -webkit-tap-highlight-color: #91353a;
    background-color: #efefef;
    font-size: 18px;
}

#google_translate_element {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 20px;
}

.goog-te-gadget-icon {
    visibility: hidden;
}

.center {
    text-align: center;
    margin-right : auto;
    margin-left: auto;
}

.clear {
    clear: right;
}

.title {
    color: #916935;
}

.sector {
    margin-top: 20px;
}

.highlight {
    color: #91353a;
}

#info {
    margin: 10px 30px;
    float: right;
}

#copyright {
    font-size: 12px;
}

